<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Reminder</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

    <div class="header">
        <div class="headertext">
            <h1>Email Reminder</h1>
        </div>
    </div>